body{
	background-color:#2C3E50;
	font-family: Arial;
	color: white; 
}
input{
	width: 40vw;
	min-width: 250px;
	border-radius: 0px;	
	border-width: 1px;
}
button{
	background-color: #0077b5;
	color: white;
	border: none;
	width: 40vw;
	min-width: 250px;
}
.nav{
	text-align: center;
	padding: 10px;
}
.form{
	background-color: #434649;
	width: 40vw;
	min-width: 250px;
	margin: auto;
	padding: 10px;
}
