body{
	background-color:#2C3E50;
	font-family: Source Sans,Arial;
	color: white; 
	padding-left: none;
}
input{
	width: 40vw;
	/*min-width: 10px;*/
	border-radius: 0px;	
	border-width: 1px;
}
button{
	background-color: #0077b5;
	color: white;
	border: none;
	width: 40vw;
	/*min-width: 10px;*/
}
.nav{
	text-align: center;
	padding: 10px;
}
.form{
	background-color: #434649;
	width: 40vw;
	/*min-width: 10px;*/
	margin: auto;
	padding: 10px;
}
